<header>
    <img routerLink="/" class="ico" src="assets/back.png" alt="">
    <div id="title">
        <img class="ico" src="assets/ok.png" alt="">
        <span class="k">请假详情</span>
    </div>
    <span class="outlink" style="padding-right: 4vw">反馈</span>
</header>
<nav>
    <button routerLink="./show/{{sno}}"  class="act">请假信息</button>
    <button routerLink="./qrcode">核验二维码</button>
</nav>
<article>
    <router-outlet></router-outlet>
</article>
<footer>
    <button>转发</button>
    <button>申请续假</button>
    <button style="background: '#3399FE';color: white;">去销假</button>
</footer>