.wrapper {
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  height: 100vh;
}

header {
  z-index: 990;
  display: flex;
  height: 6vh;
  align-items: center;
  background: #FDFDFD;
}

header>img {
  padding-left: 5vw;
  height: 1.3rem;
}

#title {
  flex-grow: 1;
  text-align: center;
}

#title .ico {
  width: 1.1rem;
  vertical-align: top;
  margin: 0 .5em;
}

#title .k {
  font-size: 1rem;
  font-weight: bold;
  vertical-align: top;
}

.outlink {
  font-size: .8rem;
  color: #EA3F34;
}

nav {
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  background-color: #FDFDFD;
  min-height: 6vh;
  border-top: 1px #D7D7D7 solid;
}

nav button {
  margin: 0;
  width: 30vw;
  font-size: 1rem;
  text-align: center;
  color: #586369;
  background: #FDFDFD;
  border: 0;
}

nav .act {
  color: #3899F5;
  border: 0;
  border-bottom: 3px solid #3899F5;
}

article {
  overflow: scroll;
}

footer {
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-self: flex-end;
}

footer button {
  flex-grow: 1;
  background: white;
  font-size: 1.3rem;
  color: #687178;
  margin: 0;
  border: 0.5px #DCE0E3 solid;
}
