<div id="wrapper" *ngIf="student">
  <div id="question">
    <img class="ico" src="assets/question.png" alt="">
    如何销假?
  </div>
  <div id="status">
    <div id="checked">
      <img class="ico" src="assets/ok3.png" alt="">
      <span>审批已通过</span>
    </div>
    <div id="append">个人信息></div>
    <p id="state">正在休假中</p>
  </div>
  <div id="bar">
    <img src="assets/superbar2.png" alt="">
    <div>
      当前时间：{{currentDate | date: "yyyy-M-d HH:mm:ss"}}
    </div>
  </div>
  <div class="subscribe">
    <div class="item">
      <span class="k">请假类型: <span class="v">出校请假</span></span>
      <span class="k">需要离校: <span class="v">离校</span></span>
    </div>
    <div class="item">
      <span class="k">销假规则: <span style="color: #E89E31;">离校请假需要销假，非离校请假无需销假</span><span
          style="color: #3899F5;">&nbsp;查看></span></span>
    </div>
    <div class="item">
      <span class="k">实际休假时间:
        <span class="v">{{startDate|date:"M-dd HH:mm"}} ~ {{endDate|date:"M-dd HH:mm"}}（共 3 天）</span>
      </span>
    </div>
  </div>
  <div class="delim">
    请假详情
  </div>
  <div id="info" class="subscribe">
    <div class="lt">
      <h3>我的&nbsp;请假申请</h3>
      <div class="item">
        <div class="k">开始时间：</div>
        <div class="v" style="font-weight: bold;">{{startDate|date:"M-dd HH:mm"}}</div>
      </div>
      <div class="item">
        <div class="k">结束时间：</div>
        <div class="v" style="font-weight: bold;">{{endDate|date:"M-dd HH:mm"}}</div>
      </div>
      <div class="item">
        <div class="k">审批流程：</div>
        <div class="v">共2步<span>查看></span></div>
      </div>
      <div class="item">
        <div class="k">紧急联系人：</div>
        <div class="v">{{student.phone}}</div>
      </div>
      <div class="item">
        <div class="k">请假原因：</div>
        <div class="v">{{leaveReason}}</div>
      </div>
      <div class="item">
        <div class="k">发起位置：</div>
        <div class="v"><span style="margin-left: 0">湖北文理学院</span></div>
      </div>
      <div class="item">
        <div class="k">抄送人：</div>
        <div class="v">无</div>
      </div>
      <div class="item">
        <div class="k">目的地：</div>
        <div class="v">万达广场</div>
      </div>
    </div>
    <div class="rt">
        <div id="last">1天18小时</div>
    </div>
  </div>
  <div class="delim"></div>
  <div class="subscribe">
    <h3>审批状态</h3>
    <div id="mix">
      <img src="assets/flow.png" alt="">
      <p class="first">{{student.name}} - 发起申请</p>
      <p class="second">一级：{{student.teacher}} - 审批<span style="color: #62B091;font-weight: bold;">通过</span></p>
      <p class="last">审批意见：无</p>
    </div>
  </div>
</div>