#wrapper {
  height: 90vh;
  width: 100vw;
  background: #efefef;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#question {
  background: #FE9900;
  max-height: 2.8vh;
  font-size: .8rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

#question .ico {
  height: .8rem;
  margin-bottom: .5vh;
}

#info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'a b';
}

/*撑开右边，使右边对齐*/

#info .k {
  min-width: 20vw;
}

#info .lt {
  grid-area: a;
}

#info span {
  display: inline-block;
  color: #3899F5;
  margin-left: .5em;
}

#info .rt {
  grid-area: b;
}

/* 浮动按钮 */

#last {
  margin-top: 3.5vh;
  border: 1px solid #3899F5;
  color: #3D90EC;
  background: #EBF5FF;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem;
  width: 6.5rem;
}
.subscribe {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.8rem 0.5rem 5vw;
}

.flow {
  border-left: 1px solid #e1e6ea;
  padding-left: 15px;
  margin-left: 1rem;
}

.flow li {
  position: relative;
  margin: 0.7rem 0;
  display: flex;
}

.flow li::marker {
  content: "";
}

/*通过定位将元素挪到 ul 的左边框上去*/
.flow .circle {
  position: absolute;
  left: -23.5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid;
  background: white;
}

.flow li .v {
  flex-grow: 1;
  text-align: right;
}

#message{
  grid-area: d;
  background: #F6F7F9;
  color: #A7AAB2;
  border-radius: 4px;
  border: 1px solid #DADEE1;
  padding: 0.4em;
  align-self: center;
  justify-self: start;
}

#s1 {
  margin-top: 0;
}

#s1 .circle {
  border-color: #389bfe;
}

#s3 {
  margin-bottom: 0;
}

#s2 .circle,#s3 .circle{
  border-color: #30d583;
}


/*组件*/

.item {
  display: flex;
  align-items: baseline;
  margin: 0.3em 0;
}

.item span {
  flex-grow: 1;
}

/*分割行*/

.delim {
  min-height: .8rem;
  color: #929292;
  font-size: .9rem;
  padding: .3em 0 .3em .8em;
}

.ico {
  vertical-align: middle;
  margin-right: 1vw;
}

.k {
  color: #A7ACB0;
  font-size: 0.8rem;
}

.v {
  color: #586369;
  font-size: 0.8rem;
}

.title {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 100;
}