#wrapper {
  height: 100vh;
  width: 100vw;
  background: #efefef;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#question {
  background: #FE9900;
  max-height: 2.8vh;
  font-size: .8rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

#question .ico {
  height: .8rem;
  margin-bottom: .5vh;
}

#status {
  max-height: 12vh;
  background: linear-gradient(180deg, #04a856, #01dc6f);
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr;
  grid-template-rows: 5vh 6vh;
  grid-template-areas: '. a b' '. c .';
  justify-items: center;
  padding: 1.5vh;
}

#checked {
  grid-area: a;
}

#status img {
  width: 1.2rem;
  margin-bottom: 1vh;
}

#status span {
  color: white;
  letter-spacing: .1em;
}

#state {
  grid-area: c;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: lighter;
  letter-spacing: .1em;
}

#append {
  grid-area: b;
  color: white;
  align-self: center;
}

#bar {
  overflow: hidden;
  min-height: 1.1rem;
}

#bar img {
  height: 1.1rem;
  animation: 12s linear 1s infinite running loading ;
}

@keyframes loading {
  from {transform: translateX(-160vw);}
  to {transform: translateX(0);}
}

/*进度条上的文字*/

#bar div {
  position: absolute;
  z-index: 99;
  color: white;
  background-color: #7f7f7d;
  opacity: .7;
  width: 50vw;
  height: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 8px;
  top: 30vh;
  left: 22.5vw;
  padding: 0 .3em .3em .3em;
}

#info {
  border: -1px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'a b';
}

/*撑开右边，使右边对齐*/

#info .k {
  min-width: 20vw;
}

#info .lt {
  grid-area: a;
}

#info span {
  display: inline-block;
  color: #3899F5;
  margin-left: .5em;
}

#info .rt {
  grid-area: b;
}

/* 浮动按钮 */

#last {
  margin-top: 3.5vh;
  border: 1px solid #3899F5;
  color: #3D90EC;
  background: #EBF5FF;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem;
  width: 6.5rem;
}

#mix {
  display: grid;
  max-height: 15vh;
  max-width: 70vw;
  margin: 2vh 0 1vh 4vw;
  grid-template-rows: 1fr 1fr 0.5fr 1fr;
  grid-template-columns: 2rem 2fr 1fr;
  grid-template-areas: 'a b .' 'a c .' '. . .' '. d .';
}

#mix img {
  width: 1.5rem;
  grid-area: a;
  justify-self: center;
  align-self: center;
}

#mix p {
  margin: 0;
  padding: 0;
}

#mix .first {
  grid-area: b;
}

#mix .second {
  grid-area: c;
  align-self: center;
}

#mix .last {
  grid-area: d;
  background: #F6F7F9;
  color: #A7AAB2;
  border-radius: 4px;
  border: 1px solid #DADEE1;
  padding: 0.4em;
  width: 70vw;
  height: 1.5rem;
  align-self: center;
  justify-self: start;
}

.subscribe {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5vw;
  padding: 0.8rem;
}

.subscribe h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

.item {
  display: flex;
  align-items: baseline;
}

.item span {
  flex-grow: 1;
}

/*分割行*/

.delim {
  min-height: .8rem;
  color: #929292;
  font-size: .9rem;
  padding: .3em 0 .3em .8em;
}

.ico {
  vertical-align: middle;
  margin-right: 1vw;
}

.k {
  color: #767676;
  font-size: 0.8rem;
}

.v {
  color: #010101;
  font-size: 0.8rem;
}