<div id="wrapper">
  <header>
    <img class="ico" src="assets/back.png" alt="">
    <div id="title">
      <img class="ico" src="assets/ok.png" alt="">
      <span class="k">请假详情</span>
    </div>
    <span class="outlink" style="padding-right: 4vw">反馈</span>
  </header>
  <div id="question">
    <img class="ico" src="assets/question.png" alt="">
    如何销假?
  </div>
  <div id="status">
    <div>
      <img class="ico" src="assets/ok3.png" alt="">
      <span>审批已通过</span>
    </div>
    <p>正在休假中</p>
  </div>
  <div id="bar">
    <img src="assets/superbar2.png" alt="">
    <div>
      当前时间：{{currentDate | date: "yyyy-M-d HH:mm:ss"}}
    </div>
  </div>
  <div class="subscribe">
    <div class="item">
      <span class="k">请假类型: <span class="v">事假</span></span>
      <span class="k">需要离校: <span class="v">离校</span></span>
    </div>
    <div class="item">
      <span class="k">销假规则: <span style="color: #dece81;">离校请假需要销假，非离校请假无需销假</span></span>
    </div>
    <div class="item">
      <span class="k">实际休假时间:
        <span class="v">{{startDate|date:"M-dd HH:mm"}} ~ {{endDate|date:"M-dd HH:mm"}}（共 3 天）</span>
      </span>
    </div>
  </div>
  <div class="delim">
    请假详情
  </div>
</div>
