<div id="wrapper" *ngIf="student">
  <div id="question">
    <img class="ico" src="assets/question.png" alt="">
    如何销假?
  </div>
  <app-bar [currentDate]="currentDate"></app-bar>
  <div class="subscribe">
    <div class="item">
      <span class="k">请假类型: <span class="v">出校请假</span></span>
      <span class="k">需要离校: <span class="v">离校</span></span>
    </div>
    <div class="item">
      <span class="k">销假规则: <span style="color: #E89E31;">离校请假需要销假，非离校请假无需销假</span><span
          style="color: #3899F5;">&nbsp;查看></span></span>
    </div>
    <div class="item">
      <span class="k">实际休假时间:
        <span class="v">{{startDate|date:"MM-dd HH:mm"}} ~ {{endDate|date:"MM-dd HH:mm"}}（共 2 天）</span>
      </span>
    </div>
  </div>
  <div class="delim">
    请假详情
  </div>
  <div id="info" class="subscribe">
    <div class="lt">
      <div class="title">
        我的&nbsp;请假申请
      </div>
      <div class="item">
        <div class="k">开始时间：</div>
        <div class="v" style="font-weight: bold;">{{startDate|date:"MM-dd HH:mm"}}</div>
      </div>
      <div class="item">
        <div class="k">结束时间：</div>
        <div class="v" style="font-weight: bold;">{{endDate|date:"MM-dd HH:mm"}}</div>
      </div>
      <div class="item">
        <div class="k">审批流程：</div>
        <div class="v">共2步<span>查看></span></div>
      </div>
      <div class="item">
        <div class="k">紧急联系人：</div>
        <div class="v">{{student.phone}}</div>
      </div>
      <div class="item">
        <div class="k">请假原因：</div>
        <div class="v">{{leaveReason}}</div>
      </div>
      <div class="item">
        <div class="k">发起位置：</div>
        <div class="v"><span style="margin-left: 0">湖北文理学院</span></div>
      </div>
      <div class="item">
        <div class="k">抄送人：</div>
        <div class="v">无</div>
      </div>
      <div class="item">
        <div class="k">目的地：</div>
        <div class="v">609科创实训院</div>
      </div>
    </div>
    <div class="rt">
      <div id="last">1天18小时</div>
    </div>
  </div>
  <div class="delim"></div>
  <div class="subscribe">
    <div class="title">
      审批流程记录
    </div>
    <ul class="flow v">
      <li class="v" id="s1">
        <div class="circle apply">
        </div>
        {{student.name}} - 发起申请
        <div class="v">{{startDate|date:"MM-dd HH:mm"}}</div>
      </li>
      <div id="message">审批意见：无</div>
      <li class="v" id="s2">
        <div class="circle">
        </div>一级：{{student.teacher}} - 审批<span style="font-weight:100;color: #30d583;font-weight: bold;">通过</span>
        <div class="v">{{startDate|date:"MM-dd HH:mm"}}</div>
      </li>
      <div id="message">审批意见：无</div>
      <li class="v" id="s3">
        <div class="circle">
        </div>二级：李小华 - 审批<span style="font-weight:100;color: #30d583;font-weight: bold;">通过</span>
        <div class="v">{{startDate|date:"MM-dd HH:mm"}}</div>
      </li>
    </ul>
  </div>
</div>