nav {
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  background-color: #FDFDFD;
  min-height: 6vh;
  border-top: 1px #D7D7D7 solid;
}

nav .act {
  color: #3899F5;
  border: 0;
  border-bottom: 3px solid #3899F5;
}

nav button {
  margin: 0;
  width: 30vw;
  font-size: .9rem;
  text-align: center;
  color: #586369;
  background: #FDFDFD;
  border: 0;
}

#question {
  background: #FE9900;
  color: white;
  max-height: 2.7vh;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question .ico {
  height: .9rem;
}

#question div {
  display: inline-block;
  font-size: .8rem;
  margin-left: .3rem;
}