#status {
    max-height: 10vh;
    background: linear-gradient(180deg, #04a856, #01dc6f);
    display: grid;
    grid-template-columns: 1fr 2.3fr 1fr;
    grid-template-rows: 3vh 6vh;
    grid-template-areas: '. a b' '. c .';
    justify-items: center;
    padding: 1.5vh;
}

#state {
    grid-area: c;
    align-self: flex-start;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: lighter;
    letter-spacing: .1em;
}

#checked {
    grid-area: a;
}

#status img {
    width: 1.2rem;
    margin-bottom: 1vh;
}

#status span {
    color: white;
    letter-spacing: .1em;
}

#append {
    grid-area: b;
    color: white;
    align-self: flex-end;
    font-size: smaller;
    text-decoration: none;
}

#bar {
    /*给说明文字定位用*/
    position: relative;
    overflow: hidden;
    margin-bottom: -5px;
}

#bar img {
    height: 1.1rem;
    transform: translateX(-420vw);
    animation: 23s linear 1s infinite running loading;
}

@keyframes loading {
    to {
        transform: translateX(0);
    }
}

/*进度条上的文字*/

#bar div {
    position: absolute;
    z-index: 99;
    color: white;
    background-color: black;
    opacity: .45;
    width: 50vw;
    height: .9rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 10px;
    left: 25vw;
    bottom: 4px;
    padding: 0px 4px 4px 4px;
}

.ico {
  vertical-align: middle;
  margin-right: 1vw;
}

.inner {
    font-weight: bold;
    font-size: .95em;
    transform: translateX(-8px);
    padding: .5em inherit;
}

.inner li {
    margin: .25em 0;
}

.inner li::marker{
    font-size: .5em;
}

.inner span {
    display: inline-block;
    min-width: 3em;
}