<h1 class="hello">Select your profile.</h1>
<div *ngIf="students.length > 0;else Warn">
  <ol>
    <h3>进校签到</h3>
    <li *ngFor="let stu of students">
      <a (click)="changeTitle('签到')" routerLink="/show/{{stu.sno}}">{{stu.name}}: {{stu.sno}}</a>
    </li>
  </ol>
  <ol>
    <h3>离校申请</h3>
    <li *ngFor="let stu of students">
      <a (click)="changeTitle('请假信息')" routerLink="/leave/{{stu.sno}}/show/{{stu.sno}}">{{stu.name}}: {{stu.sno}}</a>
    </li>
  </ol>
</div>
<ng-template #Warn>
  <h2 style="color: red">No profiles!</h2>
  <ul>
    <li>检查 <a href="/linhq/users">users.json</a> 是否可被访问。</li>
    <li>检查可执行文件是否和 users.json 放在同级目录下</li>
  </ul>
</ng-template>
