/* You can add global styles to this file, and also import other style files */
body {
  background: #939495;
  margin: 0;
  font-family:'.PingFang-SC-Regular';
}

button:hover {
  background: white;
  cursor: pointer;
}
